{% extends "base.html" %}

{% block content %}
<h1 class="display-1">Recommender</h1>

<div class="border rounded" style="margin-bottom: 60px; margin-top: 30px;">
  <div style="margin-left:40px;margin-right:40px;margin-bottom:40px;margin-top:20px;">
    <div class="border-bottom" style="margin-bottom: 20px;">
      <h2 class="display-4">Search your favourite tracks</h2>
    </div>
    <div class="border rounded" style="margin-bottom: 20px;">
      <div style="margin: 20px">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Search tracks</span>
          <input type="text" class="form-control" placeholder="By song, artist, album" aria-label="Search"
            aria-describedby="basic-addon1">
        </div>

        <table class="table table-hover table-borderless">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Song</th>
              <th scope="col" style="width: 25%;">Artist</th>
              <th scope="col" style="width: 30%;">Album</th>
              <th scope="col" style="width: 10%;">Year</th>
              <th scope="col" style="width: 10%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Wonderwall</td>
              <td>Oasis</td>
              <td>(What's the Story) Morning Glory?</td>
              <td>1995</td>
              <td class="d-grid gap-2"><button type="button" class="btn btn-primary btn-block list-button">Add<svg
                    style="bottom: 0.1em; left: 1em;
            position: relative;" class="bi" width="20" height="20" fill="currentColor">
                    <use xlink:href="static/icons/bootstrap-icons.svg#plus-square-fill" />
                  </svg></button></td>
            </tr>
            <tr>
              <td>Parklife</td>
              <td>Blur</td>
              <td>Parklife</td>
              <td>1994</td>
              <td class="d-grid gap-2"><button type="button" class="btn btn-primary btn-block list-button">Add<svg
                    style="bottom: 0.1em; left: 1em;
            position: relative;" class="bi" width="20" height="20" fill="currentColor">
                    <use xlink:href="static/icons/bootstrap-icons.svg#plus-square-fill" />
                  </svg></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="border rounded" style="margin-bottom: 20px;">
      <div style="margin: 20px">
        <div class="border-bottom" style="margin-bottom: 20px;">

          <h3>Your list</h2>
        </div>
        <table class="table table-hover table-borderless">
          <thead>
            <tr>
              <th scope="col" style="width: 25%;">Song</th>
              <th scope="col" style="width: 25%;">Artist</th>
              <th scope="col" style="width: 30%;">Album</th>
              <th scope="col" style="width: 10%;">Year</th>
              <th scope="col" style="width: 10%;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Wonderwall</td>
              <td>Oasis</td>
              <td>(What's the Story) Morning Glory?</td>
              <td>1995</td>
              <td class="d-grid gap-2"><button type="button" class="btn btn-danger btn-block list-button">Remove<svg
                    style="bottom: 0.1em; left: 1em;
            position: relative;" class="bi" width="20" height="20" fill="currentColor">
                    <use xlink:href="static/icons/bootstrap-icons.svg#dash-square-fill" />
                  </svg></button></td>
            </tr>
            <tr>
              <td>Parklife</td>
              <td>Blur</td>
              <td>Parklife</td>
              <td>1994</td>
              <td class="d-grid gap-2"><button type="button" class="btn btn-danger btn-block list-button">Remove<svg
                    style="bottom: 0.1em; left: 1em;
            position: relative;" class="bi" width="20" height="20" fill="currentColor">
                    <use xlink:href="static/icons/bootstrap-icons.svg#dash-square-fill" />
                  </svg></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="border-bottom" style="margin-bottom: 20px;">
      <h3>Filters</h3>
    </div>
    <div style="margin-bottom: 20px;">
      <div>
        <label for="sliderFromYear" class="form-label">From year <span
          id="toYear">1960</span></label>
        <input type="range" class="form-range" min=1960 max=2020 value=1960 id="sliderFromYear">
      </div>
      <div>
        <label for="sliderToYear" class="form-label" oninput="setToYear(this.value)">To year <span
            id="toYear">2020</span></label>
        <input type="range" class="form-range" min=1960 max=2020 value=2020 id="sliderToYear">
      </div>
      <div>

      </div>
    </div>
    



    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="popularArtists">
      <label class="form-check-label" for="popularArtists">
        Exclude popular artists
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="explicit">
      <label class="form-check-label" for="popularArtists">
        Exclude explicit tracks
      </label>
    </div>
    <div class="d-grid gap-2" style="margin-top: 30px;">
      <button type="button" class="btn btn-danger btn-block">Empty the list <svg style="bottom: 0.1em; left: 0.2em;
          position: relative;" class="bi" width="20" height="20" fill="currentColor">
          <use xlink:href="static/icons/bootstrap-icons.svg#trash-fill" />
        </svg></button>
      <button type="button" class="btn btn-primary btn-block">Submit list for recommendation <svg style="bottom: 0.1em; left: 0.2em;
          position: relative;" class="bi" width="20" height="20" fill="currentColor">
          <use xlink:href="static/icons/bootstrap-icons.svg#file-arrow-up-fill" />
        </svg></button>
    </div>
  </div>


</div>
</div>

<div class="border rounded" style="margin-left:50px;margin-right:50px; margin-bottom: 60px; margin-top: 30px;">
  <div style="margin-left:40px;margin-right:40px;margin-bottom:40px;margin-top:20px;">
    <div class="border-bottom" style="margin-bottom: 20px;">
      <h2 class="display-4">Recommended tracks</h2>
    </div>

    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col" style="width: 30%;">Song</th>
          <th scope="col" style="width: 25%;">Artist</th>
          <th scope="col" style="width: 30%;">Album</th>
          <th scope="col" style="width: 3%;">Year</th>
          <th scope="col" style="width: 12%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wonderwall</td>
          <td>Oasis</td>
          <td>(What's the Story) Morning Glory?</td>
          <td>1995</td>
          <td class="d-grid gap-2"><img class="img-fluid rounded" 
              src="https://i.scdn.co/image/ab67616d0000b2736f253c0104f24caed5e3e42e">
            <button class="btn btn-success btn-block spotify">Listen on <img class="img-fluid" width="20px"
                style="position:relative; left: 0.5em;" src="static/img/Spotify_Icon_RGB_White.png"></button>
          </td>
        </tr>
        <tr>
          <td>Parklife</td>
          <td>Blur</td>
          <td>Parklife</td>
          <td>1994</td>
          <td class="d-grid gap-2"><img class="img-fluid rounded"
              src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7d/BlurParklife.jpg/220px-BlurParklife.jpg">
            <button class="btn btn-success btn-block spotify">Listen on <img class="img-fluid" width="20px"
                style="position:relative; left: 0.5em;" src="static/img/Spotify_Icon_RGB_White.png"></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-success btn-block spotify">Listen to this playlist on <img
          src="static/img/Spotify_Logo_RGB_White.png" style="bottom: 0.1em; left: 0.5em;
        position: relative;" width="120"></button>
    </div>
  </div>
</div>

<script>
  function setToYear(year) {
    document.getElementById("toYear").innerHTML = year;
  }
</script>
{% endblock %}